	{% if S_SCL_ENABLED %}
		<dl>
			<dt><label for="scl_ucp_enabled0">{{ lang('SCL_ENABLED') ~ lang('COLON') }}</label><br /><span>{{ lang('SCL_ENABLED_EXPLAIN') }}</span></dt>
			<dd>
				<label for="scl_ucp_enabled1"><input type="radio" name="scl_ucp_enabled" id="scl_ucp_enabled1" value="1"{% if S_SCL_UCP_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}</label> 
				<label for="scl_ucp_enabled0"><input type="radio" name="scl_ucp_enabled" id="scl_ucp_enabled0" value="0"{% if not S_SCL_UCP_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	{% endif %}

	{% if S_SNOW_ENABLED %}
		<dl>
			<dt><label for="snow_ucp_enabled0">{{ lang('SNOW_ENABLED') ~ lang('COLON') }}</label><br /><span>{{ lang('SNOW_ENABLED_EXPLAIN') }}</span></dt>
			<dd>
				<label for="snow_ucp_enabled1"><input type="radio" name="snow_ucp_enabled" id="snow_ucp_enabled1" value="1"{% if S_SNOW_UCP_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}</label> 
				<label for="snow_ucp_enabled0"><input type="radio" name="snow_ucp_enabled" id="snow_ucp_enabled0" value="0"{% if not S_SNOW_UCP_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	{% endif %}

	{% if S_SANTAHAT_ENABLED %}
		<dl>
			<dt><label for="santahat_ucp_enabled0">{{ lang('SANTAHAT_ENABLED') ~ lang('COLON') }}</label><br /><span>{{ lang('SANTAHAT_ENABLED_EXPLAIN') }}</span></dt>
			<dd>
				<label for="santahat_ucp_enabled1"><input type="radio" name="santahat_ucp_enabled" id="santahat_ucp_enabled1" value="1"{% if S_SANTAHAT_UCP_ENABLED %} checked="checked"{% endif %} /> {{ lang('YES') }}</label> 
				<label for="santahat_ucp_enabled0"><input type="radio" name="santahat_ucp_enabled" id="santahat_ucp_enabled0" value="0"{% if not S_SANTAHAT_UCP_ENABLED %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
	{% endif %}