{% if S_SCL_ENABLED and S_SCL_UCP_ENABLED %}<div id="lights"></div>{% endif %}

{% if S_LIGHTSCSS_ENABLED and S_LIGHTSCSS_UCP_ENABLED %}
	<ul class="lightrope">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
{% endif %}

{% if S_SNOWCSS_ENABLED and S_SNOWCSS_UCP_ENABLED %}
	<div class="snowflakes" aria-hidden="true">
		<div class="snowflake">&#10052;</div>
		<div class="snowflake">&#10053;</div>
		<div class="snowflake">&#10054;</div>
		<div class="snowflake">&#10052;</div>
		<div class="snowflake">&#10053;</div>
		<div class="snowflake">&#10054;</div>
		<div class="snowflake">&#10052;</div>
		<div class="snowflake">&#10053;</div>
		<div class="snowflake">&#10054;</div>
		<div class="snowflake">&#10052;</div>
		<div class="snowflake">&#10053;</div>
		<div class="snowflake">&#10054;</div>
		<div class="snowflake">&#10052;</div>
		<div class="snowflake">&#10053;</div>
		<div class="snowflake">&#10054;</div>
		<div class="snowflake">&#10052;</div>
		<div class="snowflake">&#10053;</div>
		<div class="snowflake">&#10054;</div>
		<div class="snowflake">&#10052;</div>
		<div class="snowflake">&#10053;</div>
		<div class="snowflake">&#10054;</div>
	</div>
{% endif %}
