<!-- IF S_SCL_ENABLED and S_SCL_UCP_ENABLED -->
<link rel="stylesheet" media="screen" href="{ROOT_PATH}snowstorm/lights/christmaslights.css" />
<script type="text/javascript" src="{ROOT_PATH}snowstorm/lights/soundmanager2-nodebug-jsmin.js"></script>
<script type="text/javascript" src="{ROOT_PATH}snowstorm/lights/animation-min.js"></script>
<script type="text/javascript" src="{ROOT_PATH}snowstorm/lights/christmaslights.js"></script>
<script type="text/javascript">
var urlBase = '{ROOT_PATH}snowstorm/lights/';
soundManager.url = '{ROOT_PATH}snowstorm/lights/';
</script>
<!-- ENDIF -->

<!-- IF S_SNOW_ENABLED and S_SNOW_UCP_ENABLED -->
<script type="text/javascript" src="{ROOT_PATH}snowstorm/snowstorm-min.js"></script>
<!-- ENDIF -->